/* Timeline Item */
.timeline-item {
    display: flex;
    align-items: flex-start;
    margin-bottom: 3rem;
    position: relative;
  }
  
  /* Dates Section */
  .timeline-dates {
    flex: 0 0 180px;
    min-width: 350px;
    text-align: right;
    padding-right: 2rem;
    padding-left: 6rem;
    font-size: 1rem;
    color: white;
    white-space: nowrap;
  }
  
  /* Timeline Content */
  .timeline-content {
    display: flex;
    align-items: flex-start;
    position: relative;
    width: 800px;
  }
  
  /* Icon Styling */
  .timeline-icon {
    flex: 0 0 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #282c34;
    color: white;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: relative;
    z-index: 2;
    margin-top: 0;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
  }
  
  /* Connecting Line */
  
  .timeline-icon::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    width: 2px;
    height: calc(100% + 12rem); 
    background-color: rgba(200, 137, 230, 0.637);
    z-index: -1;
  }

  /* Adjust for the last icon */
  .timeline-item:last-child .timeline-icon::after {
    height: 0; /* No line below the last icon */
  }
  
  /* Experience Card */
  .education-card-view {
    flex: 1;
    margin-left: 2rem;
    background-color: #282c34 !important;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 100%;
    padding-top: 0.1rem;
    padding-left: 0.2rem;
    border: 1.7px solid rgba(200, 137, 230, 0.637) !important;
    box-shadow: 4px 5px 4px 3px rgba(89, 4, 168, 0.137) !important;
  }
  
  .card-title {
    text-align: justify;
    font-weight: bold;
    font-size: 1.2rem;
    color:var(--imp-text-color) !important;
  }
  
  .card-school {
    text-align: justify;
    font-size: 0.9rem;
    margin: 0;
    padding: 0;
    color: white;
  }
  
  .card-description {
    text-align: justify;
    margin-top: 1rem;
    color: white;
    font-size: 0.9rem;
    white-space: pre-line;
  }
  